In [80]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [81]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
path = "Resources/lending_data.csv"
lending_df = pd.read_csv(path)

# Review the DataFrame
lending_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [82]:
# Separate the data into labels and features
# Separate the y variable, the labels
y= lending_df["loan_status"]

# Separate the X variable, the features
x = lending_df.drop(columns=["loan_status"])

In [83]:
# Review the y variable Series
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [84]:
# Review the X variable DataFrame
x.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [85]:
# Check the balance of our target values
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [86]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 1)
x_train.shape

(58152, 7)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [87]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
regression = LogisticRegression(solver='lbfgs', random_state=1)

# Fit the model using training data
training = regression.fit(x_train, y_train)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [88]:
# Make a prediction using the testing data
testing = training.predict(x_test)
pd.DataFrame({"Prediction": testing, "Actual": y_test}).head()

       Prediction  Actual
60914           0       0
36843           0       0
1966            0       0
70137           0       0
27237           0       0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [89]:
# Print the balanced_accuracy score of the model
accuracy_score = balanced_accuracy_score(y_test, testing)
accuracy_score

0.9520479254722232

In [90]:
# Generate a confusion matrix for the model
confusion_matrix = confusion_matrix(y_test, testing)
cm_df = pd.DataFrame(
    confusion_matrix, index=["Actual Healthy Loan", "Actual High-risk Loan"],
    columns = ["Predicted Healthy Loan", "Predicted High-risk Loan"]
)
cm_df

                       Predicted Healthy Loan  Predicted High-risk Loan
Actual Healthy Loan                     18663                       102
Actual High-risk Loan                      56                       563

In [91]:
# Print the classification report for the model
targets = ["healthy loan", "high-risk loan"]
cr = classification_report(y_test, testing, target_names = targets)
print(cr)
# why is just calling cr display a distorted table? i have to print(cr)

                precision    recall  f1-score   support

  healthy loan       1.00      0.99      1.00     18765
high-risk loan       0.85      0.91      0.88       619

      accuracy                           0.99     19384
     macro avg       0.92      0.95      0.94     19384
  weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** 100% and 88% respectively

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [98]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
random_oversampler = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
x_res_train, y_res_train, = random_oversampler.fit_resample(x_train, y_train)

In [99]:
# Count the distinct values of the resampled labels data
y_res_train.value_counts()

0    56271
1    56271
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [100]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
regression_2 = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1)

# Fit the model using the resampled training data
training_2 = regression_2.fit(x_res_train, y_res_train)

# Make a prediction using the testing data
testing_2 = training_2.predict(x_test)
pd.DataFrame({"Prediction": testing_2, "Actual": y_test}).head()

       Prediction  Actual
60914           0       0
36843           0       0
1966            0       0
70137           0       0
27237           0       0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [101]:
# Print the balanced_accuracy score of the model 
accuracy_score_2 = balanced_accuracy_score(y_test, testing_2)
accuracy_score_2

0.9936781215845847

In [102]:
# Generate a confusion matrix for the model
cm_2 = confusion_matrix(y_test, testing_2)
cm_2_df = pd.DataFrame(
    cm_2, index = ["Actual Healthy Loan", "Actual High-risk Loan"],
    columns = ["Predicted Healthy Loan", "Predicted High-risk Loan"]
)
cm_2_df

TypeError: 'numpy.ndarray' object is not callable

In [97]:
# Print the classification report for the model
cr_2 = classification_report(y_test, testing_2, target_names = targets)
print(cr_2)

                precision    recall  f1-score   support

  healthy loan       1.00      0.99      1.00     18765
high-risk loan       0.84      0.99      0.91       619

      accuracy                           0.99     19384
     macro avg       0.92      0.99      0.95     19384
  weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** 100% and 91% respectively